<h1>Shops</h1>
<style>
body {
  padding-left: 5%;
}
</style>
<table>
  <tr>
    <th>Shop name</th>
  </tr>

<% @shops.each do |shop| %>
  <tr>
    <td>
      <%= link_to shop.name, shop_path(shop) %>
    </td>
  </tr>
<% end %>
</table>
