<h1><%= @shop.name %></h1>

<table border=1>
  <tr>
    <th>Product name</th>
    <th>Price per unit</th>
    <th>Quantity in stock</th>
  </tr>
  <% @products.each do |product| %>
  <tr>
    <td>
      <%= product.name %>
    </td>
    <td>
      <%= "£%.2f" % product.price %>
    </td>
    <td>
      <%= product.quantity %>
    </td>
  </tr>
  <% end %>
</table>

  
