
<div class = "container-fluid">
	<div class="col-md-12 text-center">
	<h1>MyStreet my way!</h1>
	<div>MyStreet</div>
		<div class="col-md-12 text-center">
			<%= image_tag("MLogo.png", alt: "Connect to social media") %>
    	<div><h2>Deals that are made for <i>you.</i></h2></div>
    	
    	
</div>



